* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: #222222;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  position: relative;
  text-align: center;
  margin-top: -92px;
}

.background {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: -50px;
}

header .img-logo {
  width: 600px;
  height: 290px;
  position: relative;
  margin: 0 auto;
  margin-top: -600px;
  z-index: 1;
}

/* Cards */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.cards {
  display: flex;
  padding-top: 304px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  padding-bottom: 52px;
}

.img-container {
  height: 324px;
  width: 216px;
  overflow: hidden;
  display: inline-flex;
  border-top: 1px solid #fff;
}

.img-container img {
  margin-top: 10px;
  width: 100%;
  object-fit: cover;
}

.text-container {
  width: 252px;
  height: 369px;
  padding: 0 4px 0 4px;
  background: transparent;
  margin: -282px 0px 0px 0px;
  line-height: 21px;
  border: 1px solid #fff;
}

.text-container h3 {
  margin: 300px 0px 0px 0px;
  color: #fff;
  font-size: 18px;
}

/* Pagination */
.pagination {
  margin: 90px 0;
  display: flex;
  gap: 30px;
  color: #7e7e7e;
  font-size: 20px;
  align-items: center;
  justify-content: end;
}

.pagination span {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.buttons button {
  background: transparent;
  color: #7e7e7e;
  border-radius: 15px;
  border: none;
  padding: 8px 13px;
  cursor: pointer; 
}

.rightArrow {
  max-width: 30px;
  cursor: pointer;
}

.leftArrow {
  max-width: 30px;
  cursor: pointer;
}


.buttons button.selected {
  color: black;
  background: #7e7e7e;
}

/* Responsive Design */
@media screen and (max-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50%;
  }

  .buttons {
    gap: 0;
  }

  .card {
    flex: 0 1 calc(60% - 1em);
  }

  header {
    position: relative;
    text-align: center;
    padding-top: 100px;
  }

  .background {
    width: 100%;
    position: relative;
    margin-top: -7%;
  }

  header .img-logo {
    width: 200px;
    height: auto;
    margin: -7% auto;
  }
}

@media screen and (min-width: 27.5em) {
  .text-container {
    width: auto;
  }
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(25% - 1em);
  }

  .text-container {
    width: 252px;
  }

  header .img-logo {
    width: 350px;
    height: auto;
    margin: -10% auto 0;
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }

  header .img-logo {
    width: 600px;
    height: auto;
    margin: -14% auto 0;
  }
}
